body {
    background-color: hsl(216, 12%, 8%);
}
.attribution
 { 
    font-size: 11px;
     text-align: center;
     margin-top: 50px;
     color: #fff;
 }
.attribution a
 { 
    color: hsl(228, 45%, 44%);
 }
 .Structure-Layout {
    display: grid;
    place-items: center;
    min-height: 50vh;
    

}
.icon {
    padding: 10px;
    background-color: hsl(215, 12%, 20%);
    width: 16px;
    height: 16px;
    border-radius: 25px;
    box-shadow: hsl(212, 10%, 25%) 40px 35px 35px;
}
.icon img {
    width: 16px;
}
.wrapper {
    background-color: hsl(213, 19%, 18%);
    padding: 40px 20px;
    display: inline-block;
    border-radius: 30px;
    margin-block-start: 80px;
    box-shadow: hsl(213, 19%, 18%) 3px 0px 2px;

    /* box-shadow: hsl(213, 19%, 18%) 20px 30px 28px, hsl(213, 19%, 18%) 18px 20px 10px; */
}

.text h2 {
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.text p {
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-block-start: 20px;

}
.numbers > div > span {
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 14px;

}
.numbers > div {
    background-color: hsl(215, 12%, 20%);
    box-shadow: hsl(213, 19%, 18%) 10px 10px 15px;
    border-radius: 25px;
    padding: 15px;
width: 15px;
height: 15px;
text-align: center;
cursor: pointer;
}
.Confirm-btn button {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.Confirm-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-block-start: 25px;
}
.numbers > div > .active {
    background-color: hsl(217, 12%, 63%);
    color: #fff !important;
}